.acsmall            {font-size: 10px!important}
.navbar{
    border-top: 5px solid #bd3c3c;
    border-radius: 0;
    margin: 0;
    padding: 0;
}
.nav a{
    color: #666;
    margin-top: 20px;
}
.busca{
    padding: 0 0 8px 0;
    margin-top: 30px;
    background-color: #bd3c3c;
    border-radius: 8px;
}
.busca input[type=text]{
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}
.busca select{
    float: right !important;
}
.busca .btn-sm{
    padding: 4px 10px;
}
.mais-buscados a{
    display: block;
    margin-top: 0;
}